@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #c4b4f2; // Zmieniony główny kolor
$secondary: #845df4;
$warning: #f45d5d;
$danger: #f4e95d;
$success: #a1f45d;
$font-family-base: "MuseoModerno", sans-serif; // Zmieniony font podstawowy
$form-control-bg: #f7f7f7; // Zmieniony kolor tła dla pól formularzy

@media (min-width: 1024px) {
  .d-big-none {
    display: none !important;
  }
}
// Importuj główny plik SCSS Bootstrap
@import "bootstrap/scss/bootstrap";
